In [1]:
from venim.akatsuki import ir2

In [2]:
dl = ir2.Downloader(orbit=25)

In [3]:
dl.orbit

'r0025'

In [4]:
dl.level

'calibrated'

In [5]:
dl.savedir

PosixPath('/Users/klay6683/Dropbox/data/venim/akatsuki/ir2/calibrated')

In [7]:
dl.get_orbit_filelist()

                                filename              time  size   datestr timestr            datetime
0    ir2_20160824_193142_202_l2b_v10.fit  2019-06-03 15:08  4.0M  20160824  193142 2016-08-24 19:31:42
1    ir2_20160824_193142_202_l2b_v10.lbl  2019-06-03 15:08  7.1K  20160824  193142 2016-08-24 19:31:42
2    ir2_20160824_203242_202_l2b_v10.fit  2019-06-03 15:08  4.0M  20160824  203242 2016-08-24 20:32:42
3    ir2_20160824_203242_202_l2b_v10.lbl  2019-06-03 15:08  7.1K  20160824  203242 2016-08-24 20:32:42
4    ir2_20160824_220044_202_l2b_v10.fit  2019-06-03 15:08  4.0M  20160824  220044 2016-08-24 22:00:44
..                                   ...               ...   ...       ...     ...                 ...
489  ir2_20160904_210542_202_l2b_v10.lbl  2019-06-03 15:08  7.1K  20160904  210542 2016-09-04 21:05:42
490  ir2_20160904_211542_202_l2b_v10.fit  2019-06-03 15:08  4.0M  20160904  211542 2016-09-04 21:15:42
491  ir2_20160904_211542_202_l2b_v10.lbl  2019-06-03 15:08  7.1K  20160904  211542 2016-09-04 21:15:42
492  ir2_20160904_212542_202_l2b_v10.fit  2019-06-03 15:08  4.0M  20160904  212542 2016-09-04 21:25:42
493  ir2_20160904_212542_202_l2b_v10.lbl  2019-06-03 15:08  7.1K  20160904  212542 2016-09-04 21:25:42

[494 rows x 6 columns]

In [8]:
dl.get_urls_for_orbit()

0      https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160824_193142_202_l2b_v10.fit
1      https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160824_193142_202_l2b_v10.lbl
2      https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160824_203242_202_l2b_v10.fit
3      https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160824_203242_202_l2b_v10.lbl
4      https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160824_220044_202_l2b_v10.fit
                                                    ...
489    https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160904_210542_202_l2b_v10.lbl
490    https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160904_211542_202_l2b_v10.fit
491    https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160904_211542_202_l2b_v10.lbl
492    https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160904_212542_202_l2b_v10.fit
493    https://atmos.nmsu.edu/PDS/data/vcoir2_1001/data/l2b/r0025/ir2_20160904_212542_202_l2b_v10.lbl
Length: 494, dtype: object